<a href="https://colab.research.google.com/github/norbertodp/Aprenda-Python-desde-cero/blob/main/Aprende_Python_desde_cero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Modulo 1 Principios Basicos**:

In [ ]:
# 1. Variables y operadores

print ("datos de la primera persona")

nombre1=input("ingrese nombre del producto 1: ")
precio1=int(input("ingrese precio: "))
nombre2=input("ingrese nombre del producto 2: ")
precio2=int(input("ingrese precio: "))

bonificacion=20

precio_compra_total = precio1 + precio2
comparar = precio1 >= precio2
logico=(precio1<precio2 and precio1==precio2)

cabecera="resultados del producto {0}. y del producto {1}. :" # Funcion para concatenar facilmente

print(cabecera.format(nombre1,nombre2))
print("El precio del primer valor es mayor o igual a el precio del segundo valor")
print(comparar)
print("La suma de los dos prodcutos es:" + str(precio_compra_total))

datos de la primera persona
ingrese nombre del producto 1: arroz
ingrese precio: 100
ingrese nombre del producto 2: lentejas
ingrese precio: 200
resultados del producto arroz. y del producto lentejas. :
El precio del primer valor es mayor o igual a el precio del segundo valor
False
La suma de los dos prodcutos es:300

In [ ]:
# 2. Condicionales

sueldo=int(input("ingrese sueldo: "))

if sueldo>3000:
    print("el usuario debe pagar un % de impuestos")
if sueldo<=3000:
    print("el usuario no debe pagar impuestos")
if sueldo>6000 and sueldo<10000:
    print("el usuario debe pagar una bonificacion de 1000 euros")


sueldo1=int(input("ingrese sueldo1: "))
sueldo2=int(input("ingrese sueldo2: "))


if sueldo1>sueldo2:
    print("el sueldo1 :" + str(sueldo1) + " es mayor que el sueldo 2 " + str(sueldo2))
elif sueldo1<=3000:
    print("el sueldo1 :" + str(sueldo1) + " es menor que el sueldo 2 " + str(sueldo2))

ingrese sueldo: 3000
el usuario no debe pagar impuestos
ingrese sueldo1: 2000
ingrese sueldo2: 4000
el sueldo1 :2000 es menor que el sueldo 2 4000

In [ ]:
# 3. Condicionales anidadas

nota1=int(input("ingrese nota1: "))
nota2=int(input("ingrese nota2: "))
nota3=int(input("ingrese nota3: "))
prom=(nota1+nota2+nota3)/3

if prom>=4 and prom<=5:
  print("aprobado")
else:
  if prom>=3 and prom<=4:
    print("regular")
  else:
    print("reprobado")

ingrese nota1: 2
ingrese nota2: 2
ingrese nota3: 2
reprobado

In [ ]:
# 4. Bucle while

x=1
suma=0
while x<=5:
    valor=int(input("Ingrese un valor:"))
    suma=suma+valor
    x=x+1
promedio=suma/5
print("La suma de los 5 valores es")
print(suma)
print("El promedio es")
print(promedio)


#ejercicio 2
cantidad=0
x=1
n=int(input("Cuantas piezas cargara:"))
while x<=n:
    largo=float(input("Ingrese la medida de la pieza:"))
    if largo>=1.2 and largo<=1.3:
        cantidad=cantidad+1
    x=x+1
print("La cantidad de piezas aptas son")
print(cantidad)

Ingrese un valor:100
Ingrese un valor:200
Ingrese un valor:300
Ingrese un valor:400
Ingrese un valor:500
La suma de los 5 valores es
1500
El promedio es
300.0
Cuantas piezas cargara:3
Ingrese la medida de la pieza:1.2
Ingrese la medida de la pieza:1.3
Ingrese la medida de la pieza:2
La cantidad de piezas aptas son
2

In [ ]:
# 5. Bucle for

# Realizar un programa que imprima en pantalla los números del 20 al 30.
for x in range(20,31): # Sin indicar cuanto debe aumentar
    print(x)

for y in range (20,30,+2):# Indicando que aumente de 2 en 2 hasta llegar a 30
    print(y)
    '''La función range puede tener dos parámetros, el primero indica el valor inicial que tomará la variable x,
    cada vuelta del for la variable x toma el valor siguiente hasta llegar al valor indicado por el segundo parámetro
     de la función range menos uno.'''

# lista en python
mi_lista = ['Juan', 'Antonio', 'Pedro', 'Herminio']
for nombre in mi_lista:
    print (nombre)

#Tupla en python
mi_tupla = ('rosa', 'verde', 'celeste', 'amarillo')
for color in mi_tupla:
	print (color)

In [ ]:
# 6. Estructura datos tipo listas

lista=[]  # declaramos la lista
for k in range(10):
	lista.append(input("introduce valor en lista:"))  # añadimos los valores de la lista por teclado

print("los elementos de la lista son:"+str(lista))  # visualizamos los elementos de la lista
valor=int(input("introduce el valor a modificar de la lista pon el indice:"))  # índice a modificar
nuevo=input ("introduce el nuevo valor:")  # valor nuevo de índice que se modifica
lista[valor]=nuevo  # hacemos la modificación
print("los elementos de la lista son:"+str(lista)) # visualizamos los elemntos para comprobar la modificación
valor=int(input("introduce el índice en el que se insertará el nuevo valor:"))  # índice donde se inserta en nuevo valor
nuevo=input ("introduce el nuevo valor:") # valor a insertar
lista.insert(valor, nuevo)
print("los elementos de la lista son:"+str(lista)) # visualizamos los elemntos para comprobar la modificación
nuevo=input ("introduce el valor a eliminar:") # valor a eliminar
lista.remove(nuevo)   # eliminamos el valor
print("los elementos de la lista son:"+str(lista)) # visulaizamos lista
nuevo=input ("introduce el valor a buscar:")
resultado=(nuevo in lista)
if (resultado):
	print ("existe este elemento y su índice es:"+str(lista.index(nuevo)))
else:
	print("no exite es elemento")

introduce valor en lista:1
introduce valor en lista:2
introduce valor en lista:3
introduce valor en lista:4
introduce valor en lista:5
introduce valor en lista:6
introduce valor en lista:7
introduce valor en lista:8
introduce valor en lista:9
introduce valor en lista:10
los elementos de la lista son:['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
introduce el valor a modificar de la lista pon el indice:0
introduce el nuevo valor:11
los elementos de la lista son:['11', '2', '3', '4', '5', '6', '7', '8', '9', '10']
introduce el índice en el que se insertará el nuevo valor:1
introduce el nuevo valor:22
los elementos de la lista son:['11', '22', '2', '3', '4', '5', '6', '7', '8', '9', '10']
introduce el valor a eliminar:22
los elementos de la lista son:['11', '2', '3', '4', '5', '6', '7', '8', '9', '10']
introduce el valor a buscar:5
existe este elemento y su índice es:4

## **Modulo 2 Programacion Estructurada**

In [ ]:
# Bonus Track aplicabilidad de listas, porque debo conocer el concepto de listas asi tenga la libreria Pandas

# Creamos las listas con un for
errores = [f"error{i}" for i in range(1, 11)]
codigos = [i for i in range(1, 11)]
descripciones = [chr(96 + i) for i in range(1, 11)]  # letras de la a a la j

# Crear el DataFrame
df = pd.DataFrame({
    "error": errores,
    "codigo": codigos,
    "descripcion": descripciones
})

# Mostrar la tabla
print(df)

     error  codigo descripcion
0   error1       1           a
1   error2       2           b
2   error3       3           c
3   error4       4           d
4   error5       5           e
5   error6       6           f
6   error7       7           g
7   error8       8           h
8   error9       9           i
9  error10      10           j

In [ ]:
# converti la columna error a lista para luego recorrerla y encontrar un valor determinado

lista_errores = df["error"].tolist()


for coderror in lista_errores:
    if coderror=="error8":
      print(coderror)
      break
else:
    print("No se encontro error")

error8

In [ ]:
# Aca esta recorriendo directamente la columna en el DF

for coderror in df["error"]:
    if coderror == "error8":
        print("Encontrado:", coderror)
        break
else:
    print("No se encontró error")


# Busca valores con coincidencia no exactos

for coderror in df["error"]:
    if "rror" in coderror:
        print("Encontrado:", coderror)

Encontrado: error8
Encontrado: error1
Encontrado: error2
Encontrado: error3
Encontrado: error4
Encontrado: error5
Encontrado: error6
Encontrado: error7
Encontrado: error8
Encontrado: error9
Encontrado: error10

In [ ]:
# 7. Funciones


def presentacion():
    print("Programa para hacer operaciones aritméticas de suma y resta de dos valores.")
    print("*******************************")

def introducirDatos():
    global valor1
    global valor2
    valor1=int(input("Ingrese el primer valor:"))
    valor2=int(input("Ingrese el segundo valor:"))

def suma(a,b):
    suma= a + b
    print("La suma de los dos valores es:",suma)
    return suma

def resta():
    resta=valor1-valor2
    print("La resta de los dos valores es:",resta)

def finalizacion():
    print("*******************************")
    print("Gracias por utilizar este programa")


# programa principal

presentacion()
introducirDatos()
suma(7,8) # Enviando parametros
resta()
finalizacion()

Programa para hacer operaciones aritméticas de suma y resta de dos valores.
*******************************
Ingrese el primer valor:6
Ingrese el segundo valor:4
La suma de los dos valores es: 15
La resta de los dos valores es: 2
*******************************
Gracias por utilizar este programa

In [ ]:
# 8. Funciones con parametros

# EJEMPLO 1 PARAMETROS
def mostrar_mensaje(mensaje):
	#funciones con parámetros simple
	print("*************************************")
	print(mensaje)
	print("*************************************")
def cargar_suma():
	valor1=int(input("ingresa el primer valor:"))
	valor2=int(input("ingresa el segundo valor:"))
	suma=valor1+valor2
	print("la suma es:",suma)
mostrar_mensaje("calculo de suma de dos valores")
cargar_suma()

*************************************
calculo de suma de dos valores
*************************************
ingresa el primer valor:4
ingresa el segundo valor:4
la suma es: 8

In [ ]:
#EJEMPLO1
#PARAMETROS TIPO LISTA
def sumarizar(lista):
	suma=0
	for x in range(len(lista)):
		suma=suma+lista[x]
	return suma
def mayor(lista):
	may=lista[0]
	for x in range(1,len(lista)):
		if lista[x]>may:
			may=lista[x]
	return may
def menor(lista):
	men=lista[0]
	for x in range(1,len(lista)):
		if lista[x]<men:
			men=lista[x]
	return men
listaValores=[10, 56, 23, 34, 190, 298]
print("lista completa")
print(listaValores)
print("suma de los elementos:", sumarizar(listaValores))
print("el numero mayor:", mayor(listaValores))
print("el numero menor:", menor(listaValores))

lista completa
[10, 56, 23, 34, 190, 298]
suma de los elementos: 611
el numero mayor: 298
el numero menor: 10

In [ ]:
#EJEMPLO 1
#PARAMETROS POR DEFECTO U OMISION
def saludar(nombre, mensaje="hola"):
	print (mensaje, nombre)
saludar("carlos blanco", "este es el cambio")

hola carlos blanco

In [ ]:
 #EJEMPLO 2 RETORNO DE DATOS
#retorno de datos se devuelven a la llamada de la función que recoge los datos
def retorno_superficie(lado):
	sup=lado*lado
	return sup  # con la instrucción return se retorna los datos de la función
va=int(input("introduce el valor del cuadrado:"))
superficie=retorno_superficie(va) # aqui recogemos los datos que enviamos y lo almacenamos en la variable superficie
print("al algoritmo del cuadrado es:", superficie)

introduce el valor del cuadrado:4
al algoritmo del cuadrado es: 16

In [ ]:
#EJEMPLO2
# PARAMETRO ARBITRARIOS
def sumar(v1, v2, *lista):
	suma=v1+v2
	for x in range(len(lista)):
		suma=suma+lista[x]
	return suma
print("Suma de dos valores")
print(sumar(1,2))
print("suma de cuatro valores")
print(sumar(1,2,3,4))
print("suma de diez valores")
print(sumar(1,2,3,4,5,6,7,8,9,10))

Suma de dos valores
3
suma de cuatro valores
10
suma de diez valores
55

In [ ]:
#EJEMPLO2
#RETORNO DE LISTA
def cargar_lista():
	li=[]
	for x in range(5):
		valor=int(input("introduce valor:"))
		li.append(valor)
	return li
def imprimir_mayor(li):
	print("valores de la lista mayores a 10:")
	for x  in range(len(li)):
		if li[x]>10:
			print(li[x])
lista=cargar_lista()
imprimir_mayor(lista)

introduce valor:3
introduce valor:6
introduce valor:9
introduce valor:10
introduce valor:12
valores de la lista mayores a 10:
12

In [ ]:
# 9. Funciones con retornos de datos

def retornar(d1, d2):
	if d1 > d2:
		m=d1
	else:
		m=d2
	return m

d1=34
d2=56
print(retornar(d1,d2)) # se puede utilizar la llada a la función para obtenr el valor retornado
valor=retornar(d1, d2) # o se puede almacenar el valor en una variable y luego operar con el
print ("el valor mayor es:", valor)

56
el valor mayor es: 56

In [ ]:
# 10. Funciones parametros tipo lista

def sumarDeValores(lista):
	suma=0
	for x in range(len(lista)):
		suma=suma+lista[x]

	return suma

def ValorMayor(lista):
	may=lista[0]
	for x in range(1,len(lista)):
		if lista[x]>may:
			may=lista[x]

	return may

def ValorMenor(lista):
	men=lista[0]
	for x in range(1, len(lista)):
		if lista[x]<men:
			men=lista[x]

	return men

datos=[5454, 43430, 3222, 12222, 666, 65656, 545, 2333, 21212, 23, 6565]
print("Total de datos:")
print(datos)
print("El total de sumar los valores del array:", sumarDeValores(datos))
print("Valor mayor del array:", ValorMayor(datos))
print("Valor menor del array:", ValorMenor(datos))
"""Creamos un array con varios valores numéricos, para que nuestra función pueda operar con ellos sólo
tenemos que enviarselos cuando hacemos la llamada a la función entre los paréntesis
introducimos el nombre de nuestra array, con esto ya estamos enviando los datos a la función.
para recuperar esos valores en la función ponemos un parámetro, con esto la función identifica
los valores que va a recoger y ya podemos operar con ellos dentro de la función"""

Total de datos:
[5454, 43430, 3222, 12222, 666, 65656, 545, 2333, 21212, 23, 6565]
El total de sumar los valores del array: 161328
Valor mayor del array: 65656
Valor menor del array: 23

'Creamos un array con varios valores numéricos, para que nuestra función pueda operar con ellos sólo \ntenemos que enviarselos cuando hacemos la llamada a la función entre los paréntesis  \nintroducimos el nombre de nuestra array, con esto ya estamos enviando los datos a la función.\npara recuperar esos valores en la función ponemos un parámetro, con esto la función identifica \nlos valores que va a recoger y ya podemos operar con ellos dentro de la función'

In [ ]:
# 11.  Estructurs Datos tipo tupla


def cargar_fecha():
    dd=int(input("Ingrese numero de dia:"))
    mm=int(input("Ingrese numero de mes:"))
    aa=int(input("Ingrese numero de año:"))
    tupla = (dd,mm,aa)
    return tupla

def imprimir_fecha(fecha):
    print(fecha[0],fecha[1],fecha[2],sep="/")


# bloque principal

fecha=cargar_fecha()
imprimir_fecha(fecha)

Ingrese numero de dia:10
Ingrese numero de mes:05
Ingrese numero de año:1985
10/5/1985

In [ ]:
# 12. Listas y tuplas anidadas

def cargar_paisespoblacion():
    paises=[]  #lista
    for x in range(3):
        nom=input("Ingresar el nombre del pais:")
        cant=int(input("Ingrese la cantidad de habitantes:"))
        paises.append((nom,cant)) #elementos tupla añadidos a la lista
    return paises


def imprimir(paises):
    print("Paises y su poblacion")
    for x in range(len(paises)):
        print(paises[x][0],paises[x][1])


def pais_maspoblacion(paises):
    pos=0
    for x in range(1,len(paises)):
        if paises[x][1]>paises[pos][1]:
            pos=x
    print("Pais con mayor cantidad de habitantes:",paises[pos][0])


# bloque principal

paises=cargar_paisespoblacion()
print(paises)
#paises[0][0]="z" con tupla no lo puedo modificar, con lista si puedo modificar
imprimir(paises)
pais_maspoblacion(paises)

# explicación del ejercicio en apartado 32 python ya

Ingresar el nombre del pais:C
Ingrese la cantidad de habitantes:10
Ingresar el nombre del pais:P
Ingrese la cantidad de habitantes:20
Ingresar el nombre del pais:V
Ingrese la cantidad de habitantes:30
[('C', 10), ('P', 20), ('V', 30)]
Paises y su poblacion
C 10
P 20
V 30
Pais con mayor cantidad de habitantes: V

In [ ]:
"""Cómo diferenciar en la práctica
Tuplas → () y son inmutables (no puedes modificar sus elementos después).

Listas → [] y son mutables (puedes modificar los elementos).

Ejemplo:

python
Copiar
Editar
# Tupla
registro = ("Colombia", 50_000_000)
registro[0] = "Perú"   # ❌ Error: no se puede modificar

# Lista
registro = ["Colombia", 50_000_000]
registro[0] = "Perú"   # ✅ Se modifica sin problema"""

In [ ]:
# Listas y tuplas anidadas con tuplas de 3 grupos con 3 elementos

def cargar_paisespoblacion():
    paises=[]  #lista
    for x in range(3):
        nom=input("Ingresar el nombre del pais:")
        ciu=input("Ingresa el nombre de la Ciudad")
        cant=int(input("Ingrese la cantidad de habitantes:"))
        paises.append((nom,ciu,cant)) #elementos tupla añadidos a la lista
    return paises


def imprimir(paises):
    print("Paises y su poblacion")
    for x in range(len(paises)):
        print(paises[x][0],paises[x][1], paises[x][2])


def pais_maspoblacion(paises):
    pos=0
    for x in range(1,len(paises)):
        if paises[x][2]>paises[pos][2]:
            pos=x
    print("Pais con mayor cantidad de habitantes:",paises[pos][1])


# bloque principal

paises=cargar_paisespoblacion()
print(paises)
#paises[0][0]="z" con tupla no lo puedo modificar, con lista si puedo modificar
imprimir(paises)
pais_maspoblacion(paises)

# explicación del ejercicio en apartado 32 python ya

Ingresar el nombre del pais:peru
Ingresa el nombre de la Ciudadlima
Ingrese la cantidad de habitantes:100
Ingresar el nombre del pais:colombia
Ingresa el nombre de la Ciudadbogota
Ingrese la cantidad de habitantes:200
Ingresar el nombre del pais:ecuador
Ingresa el nombre de la Ciudadquito
Ingrese la cantidad de habitantes:300
[('peru', 'lima', 100), ('colombia', 'bogota', 200), ('ecuador', 'quito', 300)]
Paises y su poblacion
peru lima 100
colombia bogota 200
ecuador quito 300
Pais con mayor cantidad de habitantes: quito

In [ ]:
# 13. Estructura de datos tipo diccionario

def cargar():
    diccionario={}
    continua="s"
    while continua=="s":
        caste=input("Ingrese palabra en castellano:")
        ing=input("Ingrese palabra en ingles:")
        diccionario[caste]=ing
        continua=input("Quiere cargar otra palabra:[s/n]")
    return diccionario


def imprimir(diccionario):
    print("Listado completo del diccionario")
    for x in diccionario:
        print(x, diccionario[x])


"""Si solo quieres imprimir la palabra en inglés (el valor completo), usa directamente:
for x in diccionario:
    print(x, diccionario[x])   # x = castellano ***CLAVE***, diccionario[x] = inglés ****VALOR*****  """

def consulta_palabra(diccionario):
    pal=input("Ingrese la palabra en castellano a consultar:")
    if pal in diccionario:
            print("En ingles significa:", diccionario[pal])
    else:
        print("No se encuentra en el diccionario")

# bloque principal

diccionario=cargar()
imprimir(diccionario)
consulta_palabra(diccionario)

# mirar explicación en el apartado 34 de python ya ejercicio último

Ingrese palabra en castellano:LAPIZ
Ingrese palabra en ingles:PENCIL
Quiere cargar otra palabra:[s/n]s
Ingrese palabra en castellano:CORRER
Ingrese palabra en ingles:RUN
Quiere cargar otra palabra:[s/n]n
Listado completo del diccionario
LAPIZ PENCIL
CORRER RUN
Ingrese la palabra en castellano a consultar:LAPIZ
En ingles significa: LAPIZ PENCIL

![Problema Diccionario.PNG]()

In [ ]:
# 14. Diccionarios con valores de tipo lista, tupla y diccionario

def cargar():
    productos={} # diccionario
    continua="s"
    while continua=="s":
        codigo=int(input("Ingrese el codigo del producto:"))
        descripcion=input("Ingrese la descripcion:")
        precio=float(input("Ingrese el precio:"))
        stock=int(input("Ingrese el stock actual:"))
        productos[codigo]=(descripcion,precio,stock)
        continua=input("Desea cargar otro producto[s/n]?")
    return productos


def imprimir(productos):
    print("Listado completo de productos:")
    for codigo in productos:
        print(codigo,productos[codigo][0],productos[codigo][1],productos[codigo][2])


def consulta(productos):
    codigo=int(input("Ingrese el codigo de articulo a consultar:"))
    if codigo in productos:
        print(productos[codigo][0],productos[codigo][1],productos[codigo][2])


def listado_stock_cero(productos):
    print("Listado de articulos con stock en cero:")
    for codigo in productos:
        if productos[codigo][2]==0:
            print(codigo,productos[codigo][0],productos[codigo][1],productos[codigo][2])



# bloque principal

productos=cargar()
print(productos)
imprimir(productos)
consulta(productos)
listado_stock_cero(productos)

Ingrese el codigo del producto:1101
Ingrese la descripcion:silla
Ingrese el precio:500
Ingrese el stock actual:20
Desea cargar otro producto[s/n]?s
Ingrese el codigo del producto:1102
Ingrese la descripcion:puesto
Ingrese el precio:800
Ingrese el stock actual:10
Desea cargar otro producto[s/n]?n
{1101: ('silla', 500.0, 20), 1102: ('puesto', 800.0, 10)}

In [ ]:
def cargar():
    agenda={}
    continua1="s"
    while continua1=="s":
        fecha=input("ingrese la fecha con formato dd/mm/aa:")
        continua2="s"
        lista=[]
        while continua2=="s":
            hora=input("Ingrese la hora de la actividad con formato hh:mm ")
            actividad=input("Ingrese la descripcon de la actividad:")
            lista.append((hora,actividad))
            continua2=input("Ingresa otra actividad para la misma fecha[s/n]:")
        agenda[fecha]=lista
        continua1=input("Ingresa otra fecha[s/n]:")
    return agenda


def imprimir(agenda):
    print("Listado completa de la agenda")
    for fecha in agenda:
        print("Para la fecha:",fecha)
        for hora,actividad in agenda[fecha]:
            print(hora,actividad)


def consulta_fecha(agenda):
    fecha=input("Ingrese la fecha que desea consultar:")
    if fecha in agenda:
        for hora,actividad in agenda[fecha]:
            print(hora,actividad)
    else:
        print("No hay actividades agendadas para dicha fecha")


# bloque principal

agenda=cargar()
print(agenda)

#imprimir(agenda)
#consulta_fecha(agenda)

ingrese la fecha con formato dd/mm/aa:25/07/2025
Ingrese la hora de la actividad con formato hh:mm 02:30
Ingrese la descripcon de la actividad:curso
Ingresa otra actividad para la misma fecha[s/n]:s
Ingrese la hora de la actividad con formato hh:mm 03:00
Ingrese la descripcon de la actividad:revisar correos
Ingresa otra actividad para la misma fecha[s/n]:n
Ingresa otra fecha[s/n]:n
{'25/07/2025': [('02:30', 'curso'), ('03:00', 'revisar correos')]}

In [ ]:
# 15. Porciones de listas, tuplas y cadenas de caracteres, rescatar un o o varios datos de una lista

def meses_faltantes(numero):
    meses=('enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre')
    return meses[numero:]


# bloque principal
#Se recupera desde el mes indicado hasta el final de la lista
print("Imprimir los nombres de meses que faltan hasta fin de año")
numero=int(input("Ingrese el numero de mes:"))
mesesfalta=meses_faltantes(numero)
print(mesesfalta)

Imprimir los nombres de meses que faltan hasta fin de año
Ingrese el numero de mes:5
('junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre')

In [ ]:
def meses_faltantes(inicio, final):
    meses=('enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre')
    return meses[inicio: final]


# bloque principal
#Se recupera desde el mes indicado hasta el otro mes indicado
print("Imprimir los nombres de meses compredidos entre un mes y otro:")
inicio=int(input("Ingrese el numero de mes:"))
final=int(input("Ingrese el numero de mes:"))
mesesfalta=meses_faltantes(inicio, final)
print(mesesfalta)

Imprimir los nombres de meses compredidos entre un mes y otro:
Ingrese el numero de mes:5
Ingrese el numero de mes:8
('junio', 'julio', 'agosto')

In [ ]:
def meses_faltantes(inicio):
    meses=('enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre')
    return meses[:inicio]


# bloque principal
# se recupera todos los meses anteriores a mes indicado
print("Imprimir los nombres de meses y todos los anteriores:")
inicio=int(input("Ingrese el numero de mes:"))

mesesfalta=meses_faltantes(inicio)
print(mesesfalta)

Imprimir los nombres de meses y todos los anteriores:
Ingrese el numero de mes:3
('enero', 'febrero', 'marzo')

In [ ]:
# 16. Indices negativos en listas, tuplas y cadenas de caracteres


def proceso(cadena):
    indice=-1
    iguales=0
    for x in range(0,len(cadena)//2):
        if cadena[x]==cadena[indice]:
            iguales=iguales+1
        indice=indice-1
    print(cadena)
    if iguales==(len(cadena)//2):
        print("Es capicua")
    else:
        print("No es capicua")


# bloque principal
#podemos utilizar valores negativos para acceder a valores de las estructuras de datos
#para aceder a último valor pondremos el indice -1, para el penúltimo el -2 así hasta el primero
#lista =[1,2,3]  print(lista[-1]) accedemos a valor 3 print([-2]) accedemos al valor 2


proceso("1331")
proceso("3851")

1331
Es capicua
3851
No es capicua

## **Modulo 3 Programacion orientada a objetos**

In [ ]:

# 18. Biblioteca estandar

import random

def cargar():
  lista=[]
  for i in range(10):
    lista.append(random.randint(0,100))
  return lista

def imprimir(lista):
  print(lista)


def mezclar(lista):
  random.shuffle(lista)


# Bloque Principal

lista=cargar()
print("lista generada aleatoriamente")
imprimir(lista)
mezclar(lista)
print("la misma lista luego de mezclar")
imprimir(lista)

lista generada aleatoriamente
[92, 12, 37, 28, 40, 19, 67, 54, 79, 38]
la misma lista luego de mezclar
[79, 92, 12, 19, 38, 40, 28, 54, 67, 37]

In [ ]:
# 19. Importar algunas funcionalidades de un módulo de la biblioteca estándar

#from math import sqrt, pow  sin agregar nombre a las librerias que importamos de la libreria

from math import sqrt as raiz, pow as exponenete # agragando nombre a las librerias que importamos para que sea mas facil de implementar



dato=int(input("ingrese un numero entero: "))
raiz_cuadrada=raiz(dato)
cubo=exponenete(dato,3)
print("la raiz cuadrada de",dato,"es",raiz_cuadrada)
print("el cubo de",dato,"es",cubo)

ingrese un numero entero: 9
la raiz cuadrada de 9 es 3.0
el cubo de 9 es 729.0

In [ ]:
# 20.  Aplicaciones propias con varios modulos

# aplicacion propia con varios modulos
# este ejercicio es para aplicar directamente sobre el python descargado
# se crean dos archivos uno principal y el otro modulos con las funciones al ejecutarl el modulo principal debe hacer la operacion y traer el resultado


# archivo modulos guardado en C/
def numero_mayor(x1,x2):
  if x1>x2:
    return x1
  else:
    return x2


def numero_menor(x1,x2):
  if x1<x2:
    return x1
  else:
    return x2

In [ ]:
# archivo principal guardado en c/

#from mayormenor import numero_menor
#from mayormenor import numero_mayor

n1=int(input("ingrese el primer numero: "))
n2=int(input("ingrese segundo numero: "))

print("el mayor de los dos valores es: ", numero_menor(n1,n2))

ingrese el primer numero: 7
ingrese segundo numero: 5
el mayor de los dos valores es:  5

In [ ]:

# Celda 1: Simular en Python - Crear el archivo mayormenor.py

%%writefile mayormenor.py

def numero_mayor(x1,x2):
  if x1>x2:
    return x1
  else:
    return x2


def numero_menor(x1,x2):
  if x1<x2:
    return x1
  else:
    return x2

Writing mayormenor.py

In [ ]:
from mayormenor import numero_menor, numero_mayor

n1=int(input("ingrese el primer numero: "))
n2=int(input("ingrese segundo numero: "))

print("el mayor de los dos valores es: ", numero_mayor(n1,n2))

ingrese el primer numero: 15
ingrese segundo numero: 5
el mayor de los dos valores es:  15

In [ ]:
# Otro ejercicio

%%writefile operacioneslista.py
def cargar_datos():
    lista=[]
    for x in range(5):
        valor=int(input("Ingrese valor:"))
        lista.append(valor)
    return lista


def verificar_mayor(lista):
    may=lista[0]
    for x in range(1,5):
        if lista[x]>may:
            may=lista[x]
    print("Mayor de la lista",may)


def verificar_suma(lista):
    suma=0
    for elemento in lista:
        suma=suma+elemento
    print("Suma de todos sus elementos",suma)

Writing operacioneslista.py

In [ ]:
import operacioneslista

lista=operacioneslista.cargar_datos()
operacioneslista.verificar_mayor(lista)
operacioneslista.verificar_suma(lista)

Ingrese valor:8
Ingrese valor:5
Ingrese valor:3
Ingrese valor:2
Ingrese valor:12
Mayor de la lista 12
Suma de todos sus elementos 30

In [ ]:
# 21. Clases y Objetos

# Aclaracion en este ejercicio no se usa un constructor init, porque no se esta usando un contador en caso de usar un contador o visdualizar un historial se complicaria oprque no esta definida el contador desde el inicio

class Alumno:

  def declarar (self, nombre, dato):
    self.nombre=nombre
    self.puntuacion=dato

  def visualizar(self):
    print("Nombre: ", self.nombre)
    print("Puntuacion: ", self.puntuacion)

  def estadistica (self):
    if self.puntuacion <=4:
      print("insuficiente")
    elif self.puntuacion >=5:
      print("notable")
    elif self.puntuacion>=8:
      print("sobresaliente")
    else:
      print("dato errado")

# Bloque Principal

alumno1= Alumno()
alumno1.declarar("diego",8)
alumno1.visualizar()
alumno1.estadistica()

print("\n")

alumno2= Alumno()
alumno2.declarar("alejo",2)
alumno2.visualizar()
alumno2.estadistica()

Nombre:  diego
Puntuacion:  8
notable


Nombre:  alejo
Puntuacion:  2
insuficiente

In [ ]:
# 22. Clases y objetos
# Metodo constructor de la clase : __init__
# con el constructoer init, puedo usar variables a nivel global en cualquier funcion, adecuado para llevar un contador o crar un historial

class Usuario:

  def __init__(self):
    self.usuario=""
    self.ingresos=0

  def intro(self):
    self.usuario=input("ingrese el nombre de usuario: ")
    self.ingresos=float(input("ingrese cantidad de ingresos anual: "))

  def visualizar(self):
    print("Nombre: ", self.usuario)
    print("Ingresos: ", self.ingresos)

  def fiscalidad (self):
    if self.ingresos>45000000:
      print("debe pagar impuestos")
    else:
      print("no debe pagar impuestos")


# Bloque Principal


usu1=Usuario()
usu1.intro()
usu1.visualizar()
usu1.fiscalidad()

ingrese el nombre de usuario: pedro
ingrese cantidad de ingresos anual: 44000000
Nombre:  pedro
Ingresos:  44000000.0
no debe pagar impuestos

In [ ]:
# calculadora excelente para aprender

class Calculadora:

  def __init__(self):
    self.contador=0

  def operaciones_mat(self, a, b, oper):
    self.contador=self.contador+1

    if oper=="suma":
      resultado = a+b
      return resultado

    elif oper=="resta":
      resultado=a-b
      return resultado

    elif oper=="multiplicacion":
      resultado= a*b
      return resultado

    elif oper=="division":
      resultado=a/b
      return resultado

    else:
      print("Operacion no valida")

  def cuantas_operaciones(self):
    return self.contador

# Codigo Base

mi_calc1=Calculadora()
print("la suma de 8+2 es:", mi_calc1.operaciones_mat(8,2,"suma") )

print("'n")

mi_calc2=Calculadora()
print("la suma de 10+4 es: ", mi_calc2.operaciones_mat(10,4,"suma"))
print("la multiplicacion de 10x4 es: ", mi_calc2.operaciones_mat(10,4,"multiplicacion"))
print("la cantidad de operaciones es: ", mi_calc2.cuantas_operaciones())

la suma de 8+2 es: 10
'n
la suma de 10+4 es:  14
la multiplicacion de 10x4 es:  40
la cantidad de operaciones es:  2

In [ ]:
# 23. llamada de metodos desde otro metodo de la misma clase

class Operacion:

  def __init__(self):
    self.valor1=0
    self.valor2=0

  def sumar(self):
    res=self.valor1+self.valor2
    print("La suma es: ", res)

  def restar(self):
    res=self.valor1-self.valor2
    print("La resta es: ", res)

  def multiplicar(self):
    res=self.valor1*self.valor2
    print("La multiplicacion es: ", res)

  def dividir(self):
    res=self.valor1/self.valor2
    print("La division es: ", res)

  def intro_valores(self):
    self.valor1=int(input("Ingrese el primer valor: "))
    self.valor2=int(input("Ingrese el segundo valor: "))

  def main(self):
    self.sumar()
    self.restar()
    self.multiplicar()
    self.dividir()


# Bloque Principal

operacion1=Operacion()
operacion1.intro_valores()
operacion1.main()

Ingrese el primer valor: 4
Ingrese el segundo valor: 2
La suma es:  6
La resta es:  2
La multiplicacion es:  8
La division es:  2.0

In [ ]:
# Ejercicio 2

class Alumnos:

  def __init__(self):
    self.nombre=[]
    self.nota=[]

  def menu(self):
    opcion=0
    while opcion!=4: # ingresa en el bucle siempre y cuando no sea 4, si por ejemplo le das 5 u otro numero vuleve a mostrar el menu
      print("MENU")
      print("1- Cargar alumnos")
      print("2- Listar aumnos")
      print("3- Listado de alumnos con notas mayores o iguales a 7")
      print("4- Finalizar programa")
      opcion=int(input("Ingrese su opcion: "))
      if opcion==1:
        self.cargar()
      elif opcion==2:
        self.listar()
      elif opcion==3:
        self.notas_altas()

  def cargar(self):
    for i in range(5):
      nom=input("Ingrese nombre del alumno: ")
      self.nombre.append(nom)
      no=int(input("Ingrese nota del alumno: "))
      self.nota.append(no)

  def listar(self):
     print("Listado completo de alumnos")
     for i in range(5):
        print(self.nombre[i],self.nota[i])
     print("__________________")

  def notas_altas(self):
     print("Alumnos con notas superiores o iguales a 7")
     for i in range(5):
      if self.nota[i]>=7:
        print(self.nombre[i], self.nota[i])
     print("_____________________")

# Bloque Principal

alumnos=Alumnos()
alumnos.menu()

In [ ]:
# 23.1 Polimorfismo en clases

"""En Python

El polimorfismo permite que:

2. Diferentes clases tengan un método con el mismo nombre, pero implementado de forma distinta.
3. Al invocar ese método con el mismo nombre, debemos definir a que objeto("clase") hacemos referencia, nostros le decimos a Python cuál clase usar para invocar el metodo que deseamos."""



# Hay dos clases con el mismo nombre de metodo "sonido"
class Perro:
    def sonido(self):
        return "Guau 🐶"

class Gato:
    def sonido(self):
        return "Miau 🐱"

# Uso polimórfico
# con este metodo estoy esperando en la variable animal me confirmen que clase debo tener en cuenta dado que las dos clases tienen dos metodos con el mismo nombre
def hacer_sonido(animal):
    print(animal.sonido())

# Bloque Principal
# Creamos objetos
perro = Perro()
gato = Gato()

hacer_sonido(perro)  # Guau 🐶
hacer_sonido(gato)   # Miau 🐱

Guau 🐶
Miau 🐱

In [ ]:
# 24. Colaboracion entre clases

class Cliente:

  def __init__(self, nombre):
    self.nombre=nombre
    self.monto=0

  def depositar(self, monto):
    self.monto=self.monto+monto

  def retirar(self, monto):
    self.monto=self.monto-monto

  def retornar_saldo(self):
    return self.monto

  def imprimir(self):
    print(self.nombre, "tiene depositado la suma de ", self.monto)



class Banco:

  def __init__(self):
    self.cliente1=Cliente("robert")
    self.cliente2=Cliente("elena")
    self.cliente3=Cliente("norber")

  def operar(self):
    self.cliente1.depositar(100)
    self.cliente2.depositar(150)
    self.cliente3.depositar(200)
    self.cliente3.retirar(150)

  def depositos_totales(self):
    total=self.cliente1.retornar_saldo()+self.cliente2.retornar_saldo()+self.cliente3.retornar_saldo()
    print("El total de dinero del banco es: ", total)
    self.cliente1.imprimir()
    self.cliente2.imprimir()
    self.cliente3.imprimir()

# Bloque Principal

banco1=Banco()
banco1.operar()
banco1.depositos_totales()

El total de dinero del banco es:  300
juan tiene depositado la suma de  100
ana tiene depositado la suma de  150
diego tiene depositado la suma de  50

In [ ]:
# Ejercicio 2

class Cliente:

    def __init__(self, nombre):
      self.nombre=nombre
      self.monto=0

    def depositar(self, monto):
      self.monto=self.monto+monto

    def retirar(self, monto):
      self.monto=self.monto-monto

    def retornar_monto(self):
      return self.monto

    def imprimir(self):
      print(self.nombre, "tiene depósitado: ", self.monto)

class Bancos:
    def __init__(self):
      self.cliente1=Cliente("rober") # el contructor de la Clase Clientes inicializa con con los nombres (rober, mari, norber)
      self.cliente2=Cliente("mari")
      self.cliente3=Cliente("norber")

    def operar(self):
      self.cliente1.depositar(100)
      self.cliente2.depositar(150)
      self.cliente3.depositar(200)
      self.cliente3.retirar(30)

    def depositos_totales(self):
      total=self.cliente1.retornar_monto()+self.cliente2.retornar_monto()+self.cliente3.retornar_monto()
      print("el total del dinero del bancop es: ", total)
      self.cliente1.imprimir()
      self.cliente2.imprimir()
      self.cliente3.imprimir()

# Bloque Principal

banco1=Bancos()
banco1.operar()
banco1.depositos_totales()

el total del dinero del bancop es:  420
rober tiene depósitado:  100
mari tiene depósitado:  150
norber tiene depósitado:  170

In [ ]:
# Herencia

class Operacion:

  def __init__(self):
    self.valor1=0
    self.valor2=0
    self.resultado=0

  def cargar(self):
    self.valor1=int(input("Ingrese el primer valor: "))
    self.valor2=int(input("Ingrfese el segundo numero"))

  def mostrar_resultado(self):
    print(self.resultado)


class Suma(Operacion):

    def operar(self):
      self.resultado=self.valor1+self.valor2

class Resta(Operacion):
    def operar(self):
      self.resultado= self.valor1-self.valor2

# Bloque Basico

suma=Suma()
suma.cargar()
suma.operar()
suma.mostrar_resultado()

Ingrese el primer valor: 15
Ingrfese el segundo numero3
18

In [ ]:
# Ejercicio 2

class Operacion:

  def __init__(self):
    self.valor1=0
    self.valor2=0
    self.resultado=0

  def cargar (self):
    self.valor1=int(input("Digite el primer valor: "))
    self.valor2=int(input("Digite el segundo valor: "))

  def mostrar_resultado(self):
    print("El resultado de la operacion es: ", self.resultado)


class Suma(Operacion):

  def operar(self):
    self.resultado=self.valor1+self.valor2

class Resta(Operacion):

  def operar(self):
    self.resultado=self.valor1-self.valor2


suma=Suma()
suma.cargar()
suma.operar()
suma.mostrar_resultado()

resta= Resta()
resta.cargar()
resta.operar()
resta.mostrar_resultado()

Digite el primer valor: 7
Digite el segundo valor: 5
El resultado de la operacion es:  12
Digite el primer valor: 5
Digite el segundo valor: 3
El resultado de la operacion es:  2

In [ ]:
# 26 Variables de Clase

class Cliente:
  suspendidos=[] # Variable de clase, debe ir antes de los metodos

  def __init__(self, codigo,nombre):
    self.codigo=codigo
    self.nombre=nombre

  def imprimir (self):
    print("Codigo: ", self.codigo)
    print("Nombre: ", self.nombre)
    self.esta_suspendido()

  def esta_suspendido(self):
    if self.codigo in Cliente.suspendidos:
       print("El cliente esta suspendido", self.nombre)
    else:
       print("El cliente no esta suspendido", self.nombre)

  def suspender(self):
    Cliente.suspendidos.append(self.codigo)


# Bloque Principal

cliente1=Cliente(1, "juan")
cliente2=Cliente(2, "pedro")
cliente3=Cliente(3, "maria")
cliente4=Cliente(4, "ana")

cliente3.suspender()
cliente4.suspender()

cliente1.imprimir()
cliente2.imprimir()
cliente3.imprimir()
cliente4.imprimir()

print(Cliente.suspendidos)

cliente1.esta_suspendido()
cliente2.esta_suspendido()

Codigo:  1
Nombre:  juan
El cliente no esta suspendido juan
Codigo:  2
Nombre:  pedro
El cliente no esta suspendido pedro
Codigo:  3
Nombre:  maria
El cliente esta suspendido maria
Codigo:  4
Nombre:  ana
El cliente esta suspendido ana
[3, 4]
El cliente no esta suspendido juan
El cliente no esta suspendido pedro

In [ ]:
# 27. Metodo STR


class Familia:

  def __init__(self, padre, madre,hijos=[]):
    self.padre=padre
    self.madre=madre
    self.hijos=hijos

  def __str__(self):
    cadena=self.padre+","+self.madre
    for hi in self.hijos:
      cadena=cadena+","+hi
    return cadena

# Bloque Principal

familia1=Familia("pablo", "ana",["pepe", "julio"])
familia2=Familia("jorge","carla")
familia3=Familia("luis","maria",["marcos"])

print(familia1)
print(familia2)
print(familia3)

pablo,ana,pepe,julio
jorge,carla
luis,maria,marcos

In [ ]:
# Ejericicio 2, entendiendo STR - sin el metodo STR

class Perro:

  def __init__(self, nombre):
    self.nombre=nombre

  def imprimir(self):
    print(self.nombre)


mi_perro=Perro("Max")
mi_perro2=Perro("Lucas")

mi_perro.imprimir() # Tiene que recordad llamar el metodo, mientras que en STR no es necesario, cada vez que llame la clase dentro del bloque principal con un print, automaticamente este imprime lo que esta definido en el STR
mi_perro2.imprimir()

# sin str python no sabe que imprimir entonces imprime algo raro como <__main__.Perro object at 0x1234567>

Max
Lucas

In [ ]:
# Ejercicio 3 con metodo STR

class Perro:

  def __init__(self, nombre, edad):
    self.nombre=nombre
    self.edad=edad

  def __str__(self):
    return f"{self.nombre}, {self.edad}" # Return a formatted string


mi_perro=Perro("Max", 3)
mi_perro1=Perro("Lucas", 5)
print(mi_perro)
print(mi_perro1)

Max, 3
Lucas, 5

In [ ]:
# 28. Redefinicion de los operadores matematicos con objetos

class Operadores:

  def __init__(self, lista):
    self.lista=lista

  def visualizar(self):
    print(self.lista)

  def __add__(self, entero):
    nueva=[]
    for i in range(len(self.lista)):
      nueva.append(self.lista[i]+entero)
    return nueva

  def __sub__(self, entero):
    nueva=[]
    for i in range(len(self.lista)):
      nueva.append(self.lista[i]-entero)
    return nueva

  def __mul__(self, entero):
    nueva=[]
    for i in range(len(self.lista)):
      nueva.append(self.lista[i]*entero)
    return nueva

  def __truediv__(self, entero):
    nueva=[]
    for i in range(len(self.lista)):
      nueva.append(self.lista[i]/entero)
    return nueva

# Bloque principal

datos=Operadores([19,23,58])
datos.visualizar()
print(datos+2)
print(datos-2)
print(datos*2)
print(datos/2)

[19, 23, 58]
[21, 25, 60]
[17, 21, 56]
[38, 46, 116]
[9.5, 11.5, 29.0]

In [ ]:
# 29. Redefinicion de los operadores relacionales con objetos

class Persona():

  def __init__(self, nombre, edad):
    self.nombre=nombre
    self.edad=edad

  def __eq__(self, objeto2):
    if self.edad==objeto2.edad:
      return True
    else:
      return False

  def __ne__(self, objeto2):
    if self.edad!=objeto2.edad:
      return True
    else:
      return False

  def __lt__(self, objeto2):
    if self.edad>objeto2.edad:
      return True
    else:
      return False

  def __le__(self, objeto2):
    if self.edad<objeto2.edad:
      return True
    else:
      return False

  def __gt__(self, objeto2):
    if self.edad<objeto2.edad:
      return True
    else:
      return False

  def __ge__(self, objeto2):
    if self.edad<=objeto2.edad:
      return True


# Bloque principal

persona1=Persona("juan", 20)
persona2=Persona("ana", 20)
if persona1==persona2:
  print("persona1 mapy")
else:
  print("No tienen la misma edad")

persona1 mapy

In [ ]:
# Ejercicio 2

#Importante mencionar que este ejericcio al usar los operadores ej: __eq__(), este comienza a identificar constructor por constructor hasta encontar el operador y los datos que cunplan esa condicion

class Persona:

    def __init__(self,nombre, edad):
        self.nombre=nombre
        self.edad=edad

    def __eq__(self,objeto2):
        if self.edad==objeto2.edad:
            return True
        else:
            return False

    def __ne__(self,objeto2):
        if self.edad!=objeto2.edad:
            return True
        else:
            return False

    def __gt__(self,objeto2):
        if self.edad>objeto2.edad:
            return True
        else:
            return False

    def __ge__(self,objeto2):
        if self.edad>=objeto2.edad:
            return True
        else:
            return False

    def __lt__(self,objeto2):
        if self.edad<objeto2.edad:
            return True
        else:
            return False

    def __le__(self,objeto2):
        if self.edad<=objeto2.edad:
            return True
        else:
            return False

# bloque principal

persona1=Persona('juan',28)
persona2=Persona('ana',25)
if persona1>persona2:
    print("Las dos personas tienen la misma edad.")
else:
    print("No tienen la misma edad.")

Las dos personas tienen la misma edad.

In [ ]:
# 30. Objeto FILE Trabajando con archivos

""""r+ "Modificar archivo existente sin perder contenido"
    w+ "Empezar archivo desde cero (¡CUIDADO: borra todo!)"
    a  "Solo agregar al final, preservando todo """


# Ejercicio que coloca texto al final del archivo plano

archivo = open("/content/archivo.txt", "r+") # w+ sobreescibe, lectura y escribe, r+ lectura y escritura no sobre escribe

contenido = archivo.read()
final_de_archivo = archivo.tell()

archivo.seek(final_de_archivo) # ir al final del archivo
archivo.write('Nueva linea 5\n') #\n al final  para la nueva linea


nuevo_contenido = archivo.read()

archivo.close()


print (nuevo_contenido)
# Nueva linea

In [ ]:
# Ejercicio anterior, pero con codigo mas simple - Excelente para archivos planos menejo de lectura y escritura de archivos

# 1. Escribir
with open("/content/archivo.txt", "a") as archivo:
  archivo.write("linea 8\n")

# 2. Leer
with open("/content/archivo.txt", "r") as archivo:
  nuevo_contenido = archivo.read()

#print(nuevo_contenido) # muestra toda la info del txt

In [20]:
# Ejercicio 2

archivo = open("/content/archivo2.txt", "w+")
selection = input('introduce el texto para el archivo:')
contenido = archivo.read()
final_de_archivo = archivo.tell()

archivo.write(selection)
archivo.seek(final_de_archivo)
nuevo_contenido = archivo.read()

archivo.close()


print (nuevo_contenido)
# Nueva linea

introduce el texto para el archivo:hola a todos
hola a todos

In [22]:
# Ejemplo 2  anterior mejorado

selection=input('introduce el texto para el archivo:')

# 1. Escribir
with open("/content/archivo3.txt", "w+") as archivo:
  archivo.write(selection)

# No es obligatorio pero si quieres leer para luego imprimir

with open("/content/archivo3.txt", "r") as archivo:
  nuevo_contenido = archivo.read()

print(nuevo_contenido)

introduce el texto para el archivo:hola nuvamente a todos 3
hola nuvamente a todos 3

In [28]:
# Ejemplo con listas

# Escribir lista
lista = ['Línea 1\n', 'Línea 2\n']

with open("archivo4.txt", "a") as archivo:  # Crear archivo nuevo
    archivo.writelines(lista)

# Leer línea por línea
with open("archivo.txt", "r") as archivo:
    print(archivo.readline().strip())  # Línea 1
    print(archivo.readline().strip())  # Línea 2

Permisos a grupos resolutores Comunidad Bienestar

In [30]:
# 31. envio de correos desde Python
"""
# Con Outlook (acepta contraseña normal)
server = smtplib.SMTP("smtp-mail.outlook.com", 587)

"""

import smtplib

remitente="ingenieriasistemasnd@gmail.com"
destinatario="ingenieriasistemasnd@gmail.com"
msg="Que hace mi pegooooo"

# Datos
username="ingenieriasistemasnd@gmail.com"
password="vvfd zuea uvqs fzod"

#Enviando el correo

server=smtplib.SMTP("smtp.gmail.com", 587)
server.starttls()
server.login(username, password)
server.sendmail(remitente, destinatario, msg)
server.quit()

(221,
 b'2.0.0 closing connection 8926c6da1cb9f-511f2efab95sm309822173.2 - gsmtp')

In [32]:
# Ejercicio mejorado

import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

# Configuración
remitente = "ingenieriasistemasnd@gmail.com"
destinatario = "perezdelta@hotmail.com"
username = "ingenieriasistemasnd@gmail.com"
password = "vvfd zuea uvqs fzod"  # Necesitas generar esta contraseña

# Crear el mensaje
msg = MIMEMultipart()
msg['From'] = remitente
msg['To'] = destinatario
msg['Subject'] = "Prueba de correo desde Python"

# Cuerpo del mensaje
cuerpo = "Que hace mi pegooooo"
msg.attach(MIMEText(cuerpo, 'plain'))

try:
    # Enviando el correo
    server = smtplib.SMTP("smtp.gmail.com", 587)
    server.starttls()
    server.login(username, password)
    server.sendmail(remitente, destinatario, msg.as_string())
    server.quit()
    print("Correo enviado exitosamente!")

except Exception as e:
    print(f"Error al enviar correo: {e}")

Correo enviado exitosamente!

In [ ]:
# Enviar correo desde outlook


"""
# Con Outlook (acepta contraseña normal)
server = smtplib.SMTP("smtp-mail.outlook.com", 587)

"""

import smtplib

remitente="perezdelta@hotmail.com"
destinatario="ingenieriasistemasnd@gmail.com"
msg="Que hace mi pegooooo"

# Datos
username="perezdelta@hotmail.com"
password="wcorvuufzoiwzwul"

#Enviando el correo

server=smtplib.SMTP("smtp-mail.outlook.com", 587)
server.starttls()
server.login(username, password)
server.sendmail(remitente, destinatario, msg)
print("Correo enviado")
server.quit()

In [38]:
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

# Cambiar a Outlook
remitente = "perezdelta@hotmail.com"  # o @outlook.com
destinatario = "perezdelta@hotmail.com"
username = "perezdelta@hotmail.com"
password = "pptlcgiectelmchv"  # Outlook sí acepta contraseña normal

msg = MIMEMultipart()
msg['From'] = remitente
msg['To'] = destinatario
msg['Subject'] = "Prueba desde Python"

cuerpo = "Que hace mi pegooooo"
msg.attach(MIMEText(cuerpo, 'plain'))

try:
    # Servidor SMTP de Outlook
    server = smtplib.SMTP("smtp-mail.outlook.com", 587)
    server.starttls()
    server.login(username, password)
    server.sendmail(remitente, destinatario, msg.as_string())
    server.quit()
    print("¡Correo enviado!")
except Exception as e:
    print(f"Error: {e}")

Error: (535, b'5.7.139 Authentication unsuccessful, basic authentication is disabled. [BY5PR17CA0052.namprd17.prod.outlook.com 2025-09-11T07:49:13.945Z 08DDE9DCA1FC5071]')